@model AfincoApp.Models.Usuario



<!DOCTYPE html>


<div class="mt-4">
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sobrenome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sobrenome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="row mt-3">
            <div class="m-2">
                <input type="submit" value="Apagar" class="btn btn-danger" />
            </div>
            <div class="m-2">
                <a class="btn btn-primary mt-5" href="~/Usuarios/Index">Voltar &raquo;</a>
            </div>
        </div>
    }
</div>

