@model IEnumerable<AfincoApp.Models.Usuario>


    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sobrenome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>
            <th>Ações</th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sobrenome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.UsuarioID }) |
                @Html.ActionLink("Details", "Details", new { id=item.UsuarioID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.UsuarioID })
            </td>
        </tr>
    }
    
    </table>
