@model AfincoApp.Models.Movimentacao


    <div>
        <h4>Movimentacao</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Balanco.BalancoID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Balanco.BalancoID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Tipo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Tipo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Valor)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Valor)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="row mt-3">
                <div class="m-2">
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </div>
                <div class="m-2">
                    <a class="btn btn-primary mt-5" href="@Url.Action("Edit","Balancos", new { id = ViewBag.BalancoID })">Voltar &raquo;</a>
                </div>
            </div>
        }
    </div>

