@model AfincoApp.Models.Movimentacao


    <div>
        <h4>Movimentacao</h4>
        <hr />
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.Tipo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Tipo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Valor)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Valor)
            </dd>

        </dl>
    </div>
    <div class="m-2">
        <a class="btn btn-primary mt-5" href="@Url.Action("Details","Balancos", new { id = ViewBag.BalancoID })">Voltar &raquo;</a>
    </div>
